# Limpieza

In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable # si os da un error este comando es por no tenerlo instalado, 
                 # vemos cómo instalarlo en el siguiente apartado

# establecer el tamaño de nuestras figuras
plt.rcParams["figure.figsize"] = (10,8)

In [28]:
df = pd.read_csv('data/bikes.csv', index_col = 0)

In [29]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    object
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(2)
memory usage: 97.0+ KB

In [31]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [32]:
df.duplicated().sum()

0

### Renombramos las columnas

Nuestro df contiene las siguientes columnas:
- registro = (instant), es el índice
- fecha = (dteday)
- estacion = (season) Hay que cambiarla, algunas estaciones no coinciden con la fecha.
- año = (year) También hay que cambiarla, está en 0  y 1 (2018,2019)
- mes = (month) 
- festivo = (holiday) 0: laborales, 1:festivos, creemos que tomará festivos.
- dia_semana = (weekday) 
- no_laboral = (workingday) Cuenta como 0 el laboral y el 1 el no laboral
- clima = ('weathersit')
- 'temperatura' =  (temp)
- 'sens_termica'=  ('atemp')
- humedad = (hum)
- viento = (windspeed)
- ocasionales = (casual)
- registrados = (registred)
- total = (cnt)

In [33]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [34]:
dic_columnas = {'instant': 'registro', 'dteday': 'fecha', 'season': 'estacion', 'yr': 'año', 'mnth':'mes', 'holiday':'festivo', 'weekday':'dia_semana',
       'workingday':'no_laboral', 'weathersit':'clima', 'temp':'temperatura', 'atemp':'sens_termica', 'hum':'humedad', 'windspeed':'viento', 
       'casual':'ocasionales', 'registered':'registrados', 'cnt':'total'}

In [35]:
df.rename(columns = dic_columnas, inplace = True)

In [36]:
df.head(2)

,registro,fecha,estacion,año,mes,festivo,dia_semana,no_laboral,clima,temperatura,sens_termica,humedad,viento,ocasionales,registrados,total
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801

In [37]:
df['festivo'].value_counts()

0    709
1     21
Name: festivo, dtype: int64

In [38]:
festivos = df[df['festivo'] == 1]
festivos.head(21)

,registro,fecha,estacion,año,mes,festivo,dia_semana,no_laboral,clima,temperatura,sens_termica,humedad,viento,ocasionales,registrados,total
16,17,17-01-2018,spring,0,1,1,1,0,2,7.209153,8.83855,53.7500,12.999139,117,883,1000
51,52,21-02-2018,spring,0,2,1,1,0,2,12.436653,14.20375,60.5000,20.625682,195,912,1107
104,105,15-04-2018,summer,0,4,1,5,0,1,18.313347,22.09565,67.1250,15.167125,642,2484,3126
149,150,30-05-2018,summer,0,5,1,1,0,1,30.066653,33.55460,68.5000,8.792075,1549,2549,4098
184,185,04-07-2018,autumn,0,7,1,1,0,2,29.793347,33.27085,63.7917,5.459106,3065,2978,6043
247,248,05-09-2018,autumn,0,9,1,1,0,2,27.606653,31.28230,79.0417,14.250632,1236,2115,3351
282,283,10-10-2018,winter,0,10,1,1,0,1,23.404153,27.14625,73.3750,2.834381,1514,3603,5117
314,315,11-11-2018,winter,0,11,1,5,0,1,13.290847,15.34085,44.6250,21.083225,440,2928,3368
327,328,24-11-2018,winter,0,11,1,4,0,1,15.306653,18.62355,54.9167,11.209368,560,935,1495
359,360,26-12-2018,spring,0,12,1,1,0,1,13.191299,15.77675,50.6957,16.044155,430,887,1317
366,367,02-01-2019,spring,1,1,1,1,0,1,11.194763,12.61520,38.1304,22.087555,244,1707,1951
380,381,16-01-2019,spring,1,1,1,1,0,1,7.790000,9.53315,52.2500,15.500986,217,2081,2298
415,416,20-02-2019,spring,1,2,1,1,0,1,11.480000,13.66955,50.7826,15.348561,502,2627,3129
470,471,16-04-2019,summer,1,4,1,1,0,1,27.230847,30.74625,56.1667,19.083543,1198,5172,6370
512,513,28-05-2019,summer,1,5,1,1,0,1,29.212500,33.96500,67.6250,13.166907,2557,3486,6043
549,550,04-07-2019,autumn,1,7,1,3,0,1,32.355847,36.61685,53.8750,9.041650,2562,4841,7403
610,611,03-09-2019,autumn,1,9,1,1,0,1,29.007500,33.08145,79.0833,10.125107,1965,4069,6034
645,646,08-10-2019,winter,1,10,1,1,0,2,15.716653,19.38040,70.9583,12.708493,874,4604,5478
680,681,12-11-2019,winter,1,11,1,1,0,1,19.885000,23.76915,74.1667,11.625639,1097,5172,6269
690,691,22-11-2019,winter,1,11,1,4,0,1,13.940000,17.51855,58.0417,3.542344,955,1470,2425
723,724,25-12-2019,spring,1,12,1,2,0,2,11.943464,14.72325,73.4783,11.304642,440,573,1013

#### Cambiamos la columna año, mes y día_semana

In [39]:
df['dia_semana'].unique()

array([6, 0, 1, 2, 3, 4, 5])

Cambiamos el formato a la columna fecha

In [40]:
df['fecha_nueva'] = pd.to_datetime(df["fecha"], format="%d-%m-%Y")

In [41]:
!pip install holidays
import holidays

Requirement already satisfied: holidays in /Users/ana/opt/anaconda3/lib/python3.9/site-packages (0.18)
Requirement already satisfied: korean-lunar-calendar in /Users/ana/opt/anaconda3/lib/python3.9/site-packages (from holidays) (0.3.1)
Requirement already satisfied: python-dateutil in /Users/ana/opt/anaconda3/lib/python3.9/site-packages (from holidays) (2.8.2)
Requirement already satisfied: PyMeeus in /Users/ana/opt/anaconda3/lib/python3.9/site-packages (from holidays) (0.5.12)
Requirement already satisfied: hijri-converter in /Users/ana/opt/anaconda3/lib/python3.9/site-packages (from holidays) (2.2.4)
Requirement already satisfied: convertdate>=2.3.0 in /Users/ana/opt/anaconda3/lib/python3.9/site-packages (from holidays) (2.4.0)
Requirement already satisfied: six>=1.5 in /Users/ana/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil->holidays) (1.16.0)

In [42]:
df['festividad'] = pd.Series(df.fecha_nueva).apply(lambda x: holidays.CountryHoliday('US').get(x)).values

In [43]:
df['festividad_1'] = df['festividad'].astype('bool').astype('int')

In [44]:
df['festividad_1'].value_counts()

0    709
1     21
Name: festividad_1, dtype: int64

In [45]:
df.head(2)

,registro,fecha,estacion,año,mes,festivo,dia_semana,no_laboral,clima,temperatura,sens_termica,humedad,viento,ocasionales,registrados,total,fecha_nueva,festividad,festividad_1
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985,2018-01-01,New Year's Day,1
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801,2018-01-02,None,0

Cambiamos las estaciones

Primero renombramos:

In [46]:
from datetime import date, datetime

In [47]:
#df['año_bueno'] = df['fecha_nueva'].apply(datetime.date.today().year)

df['año_bueno'] = pd.DatetimeIndex(df['fecha_nueva']).year

In [48]:
df['año_bueno'].value_counts()

2018    365
2019    365
Name: año_bueno, dtype: int64

In [53]:
df['año_bueno'].unique()

array([2018, 2019])

In [58]:
year = df['año_bueno'].unique()

for x in year:
    seasons = [('winter', (date(x,  1,  1),  date(x,  3, 20))),
            ('spring', (date(x,  3, 21),  date(x,  6, 20))),
            ('summer', (date(x,  6, 21),  date(x,  9, 22))),
            ('autumn', (date(x,  9, 23),  date(x, 12, 20))),
            ('winter', (date(x, 12, 21),  date(x, 12, 31)))]
print(seasons)


    

#print(get_season(date.today()))

[('winter', (datetime.date(2019, 1, 1), datetime.date(2019, 3, 20))), ('spring', (datetime.date(2019, 3, 21), datetime.date(2019, 6, 20))), ('summer', (datetime.date(2019, 6, 21), datetime.date(2019, 9, 22))), ('autumn', (datetime.date(2019, 9, 23), datetime.date(2019, 12, 20))), ('winter', (datetime.date(2019, 12, 21), datetime.date(2019, 12, 31)))]

In [81]:

def sacar_estacion(fecha):
    if fecha.month == 2 or fecha.month == 1:
        return "invierno"
    elif fecha.month == 3 and fecha.day <= 20:
        return "invierno"
    elif fecha.month == 12 and fecha.day >20:
        return "invierno"
    elif fecha.month == 4 or fecha.month == 5:
        return "primavera"
    elif fecha.month == 3 and fecha.day >20:
        return "primavera"
    elif fecha.month == 6 and fecha.day <=20:
        return "primavera"
    elif fecha.month == 7 or fecha.month == 8:
        return "verano"
    elif fecha.month == 6 and fecha.day > 20:
        return "verano"
    elif fecha.month == 9 and fecha.day < 23:
        return "verano"
    elif fecha.month == 10 or fecha.month == 11:
        return "otoño"
    elif fecha.month == 9 and fecha.day > 22:
        return "otoño"
    elif fecha.month == 12 and fecha.day <= 20:
        return "otoño"

In [82]:
df["estacion_correcta"] = df["fecha_nueva"].apply(sacar_estacion)

In [85]:
df.tail(50)

,registro,fecha,estacion,año,mes,festivo,dia_semana,no_laboral,clima,temperatura,...,humedad,viento,ocasionales,registrados,total,fecha_nueva,festividad,festividad_1,año_bueno,estacion_correcta
680,681,12-11-2019,winter,1,11,1,1,0,1,19.885000,...,74.1667,11.625639,1097,5172,6269,2019-11-12,None,0,2019,otoño
681,682,13-11-2019,winter,1,11,0,2,1,2,14.076653,...,66.2917,22.917082,327,3767,4094,2019-11-13,None,0,2019,otoño
682,683,14-11-2019,winter,1,11,0,3,1,1,11.855847,...,55.2083,13.374875,373,5122,5495,2019-11-14,None,0,2019,otoño
683,684,15-11-2019,winter,1,11,0,4,1,2,13.188347,...,62.0417,10.250129,320,5125,5445,2019-11-15,None,0,2019,otoño
684,685,16-11-2019,winter,1,11,0,5,1,1,14.145000,...,52.4583,11.458675,484,5214,5698,2019-11-16,None,0,2019,otoño
685,686,17-11-2019,winter,1,11,0,6,0,1,13.325000,...,54.5417,12.041843,1313,4316,5629,2019-11-17,None,0,2019,otoño
686,687,18-11-2019,winter,1,11,0,0,0,1,14.042500,...,69.2917,15.250004,922,3747,4669,2019-11-18,None,0,2019,otoño
687,688,19-11-2019,winter,1,11,0,1,1,2,15.614153,...,62.3333,15.749489,449,5050,5499,2019-11-19,None,0,2019,otoño
688,689,20-11-2019,winter,1,11,0,2,1,2,15.340847,...,68.5000,5.542575,534,5100,5634,2019-11-20,None,0,2019,otoño
689,690,21-11-2019,winter,1,11,0,3,1,1,14.486653,...,61.3750,6.917482,615,4531,5146,2019-11-21,None,0,2019,otoño
690,691,22-11-2019,winter,1,11,1,4,0,1,13.940000,...,58.0417,3.542344,955,1470,2425,2019-11-22,None,0,2019,otoño
691,692,23-11-2019,winter,1,11,0,5,1,1,15.101653,...,56.8750,9.917407,1603,2307,3910,2019-11-23,None,0,2019,otoño
692,693,24-11-2019,winter,1,11,0,6,0,1,11.411653,...,40.4583,25.250357,532,1745,2277,2019-11-24,None,0,2019,otoño
693,694,25-11-2019,winter,1,11,0,0,0,1,10.079153,...,46.8333,10.083500,309,2115,2424,2019-11-25,None,0,2019,otoño
694,695,26-11-2019,winter,1,11,0,1,1,1,12.846653,...,53.5417,3.125550,337,4750,5087,2019-11-26,None,0,2019,otoño
695,696,27-11-2019,winter,1,11,0,2,1,2,11.958347,...,78.6667,15.916654,123,3836,3959,2019-11-27,None,0,2019,otoño
696,697,28-11-2019,winter,1,11,0,3,1,1,12.163347,...,50.6250,14.125007,198,5062,5260,2019-11-28,Thanksgiving,1,2019,otoño
697,698,29-11-2019,winter,1,11,0,4,1,1,11.515670,...,55.5652,7.739974,243,5080,5323,2019-11-29,None,0,2019,otoño
698,699,30-11-2019,winter,1,11,0,5,1,1,12.231653,...,64.9583,3.917544,362,5306,5668,2019-11-30,None,0,2019,otoño
699,700,01-12-2019,winter,1,12,0,6,0,2,12.231653,...,80.6667,4.000181,951,4240,5191,2019-12-01,None,0,2019,otoño
700,701,02-12-2019,winter,1,12,0,0,0,2,14.247500,...,82.3333,8.333393,892,3757,4649,2019-12-02,None,0,2019,otoño
701,702,03-12-2019,winter,1,12,0,1,1,1,18.552500,...,76.7500,5.542294,555,5679,6234,2019-12-03,None,0,2019,otoño
702,703,04-12-2019,winter,1,12,0,2,1,1,19.509153,...,73.3750,11.666643,551,6055,6606,2019-12-04,None,0,2019,otoño
703,704,05-12-2019,winter,1,12,0,3,1,1,17.971653,...,48.5000,21.709407,331,5398,5729,2019-12-05,None,0,2019,otoño
704,705,06-12-2019,winter,1,12,0,4,1,1,10.489153,...,50.8750,11.708518,340,5035,5375,2019-12-06,None,0,2019,otoño
705,706,07-12-2019,winter,1,12,0,5,1,2,13.154153,...,76.4167,8.750200,349,4659,5008,2019-12-07,None,0,2019,otoño
706,707,08-12-2019,winter,1,12,0,6,0,2,15.648347,...,91.1250,6.792393,1153,4429,5582,2019-12-08,None,0,2019,otoño
707,708,09-12-2019,winter,1,12,0,0,0,2,15.750847,...,90.5417,10.584325,441,2787,3228,2019-12-09,None,0,2019,otoño
708,709,10-12-2019,winter,1,12,0,1,1,2,17.869153,...,92.5000,12.750636,329,4841,5170,2019-12-10,None,0,2019,otoño
709,710,11-12-2019,winter,1,12,0,2,1,2,14.486653,...,59.6667,19.834479,282,5219,5501,2019-12-11,None,0,2019,otoño
710,711,12-12-2019,winter,1,12,0,3,1,2,12.197500,...,53.8333,10.916779,310,5009,5319,2019-12-12,None,0,2019,otoño
711,712,13-12-2019,winter,1,12,0,4,1,1,12.129153,...,48.5833,11.666643,425,5107,5532,2019-12-13,None,0,2019,otoño
712,713,14-12-2019,winter,1,12,0,5,1,1,11.548347,...,64.2917,8.792343,429,5182,5611,2019-12-14,None,0,2019,otoño
713,714,15-12-2019,winter,1,12,0,6,0,1,13.290847,...,65.0417,7.125450,767,4280,5047,2019-12-15,None,0,2019,otoño
714,715,16-12-2019,winter,1,12,0,0,0,2,14.862500,...,83.8750,6.749714,538,3248,3786,2019-12-16,None,0,2019,otoño
715,716,17-12-2019,winter,1,12,0,1,1,2,16.126653,...,90.7083,6.583306,212,4373,4585,2019-12-17,None,0,2019,otoño
716,717,18-12-2019,winter,1,12,0,2,1,1,16.844153,...,66.6250,14.834068,433,5124,5557,2019-12-18,None,0,2019,otoño
717,718,19-12-2019,winter,1,12,0,3,1,1,13.632500,...,62.5417,12.334164,333,4934,5267,2019-12-19,None,0,2019,otoño
718,719,20-12-2019,winter,1,12,0,4,1,2,13.530000,...,66.7917,8.875021,314,3814,4128,2019-12-20,None,0,2019,otoño
719,720,21-12-2019,spring,1,12,0,5,1,2,13.393347,...,55.6667,25.083661,221,3402,3623,2019-12-21,None,0,2019,invierno
720,721,22-12-2019,spring,1,12,0,6,0,1,10.899153,...,44.1250,27.292182,205,1544,1749,2019-12-22,None,0,2019,invierno
721,722,23-12-2019,spring,1,12,0,0,0,1,10.079153,...,51.5417,8.916561,408,1379,1787,2019-12-23,None,0,2019,invierno
722,723,24-12-2019,spring,1,12,0,1,1,2,9.483464,...,79.1304,5.174437,174,746,920,2019-12-24,None,0,2019,invierno
723,724,25-12-2019,spring,1,12,1,2,0,2,11.943464,...,73.4783,11.304642,440,573,1013,2019-12-25,Christmas Day,1,2019,invierno
724,725,26-12-2019,spring,1,12,0,3,1,3,9.976653,...,82.3333,21.208582,9,432,441,2019-12-26,None,0,2019,invierno
725,726,27-12-2019,spring,1,12,0,4,1,2,10.420847,...,65.2917,23.458911,247,1867,2114,2019-12-27,None,0,2019,invierno
726,727,28-12-2019,spring,1,12,0,5,1,2,10.386653,...,59.0000,10.416557,644,2451,3095,2019-12-28,None,0,2019,invierno
727,728,29-12-2019,spring,1,12,0,6,0,2,10.386653,...,75.2917,8.333661,159,1182,1341,2019-12-29,None,0,2019,invierno
728,729,30-12-2019,spring,1,12,0,0,0,1,10.489153,...,48.3333,23.500518,364,1432,1796,2019-12-30,None,0,2019,invierno
729,730,31-12-2019,spring,1,12,0,1,1,2,8.849153,...,57.7500,10.374682,439,2290,2729,2019-12-31,None,0,2019,invierno